<div class="container">
  <h2 class="center-align">Edit profile</h2>

  <hr class="thick">

  <%= form_for @user, url: profile_path(@user), html: { class: "form" } do |f| %>
    <div class="form-field">
      <%= label_for f, :name, class: "label" %>
      <%= f.text_field :name, class: "text-input" %>
    </div>

    <div class="form-field">
      <%= label_for f, :birth_date, class: "label" %>
      <%= f.date_field :birth_date, class: "text-input" %>
    </div>

    <div class="form-field">
      <%= label_for f, :gender, class: "label" %>
      <%= f.select :gender, User.genders, {}, { class: "text-input" } %>
    </div>

    <div class="form-field">
      <%= label_for f, :biography, class: "label" %>
      <%= f.text_area :biography, class: "text-input", rows: 4 %>
    </div>

    <div class="submit-button">
      <%= f.submit "Save", class: "action-button primary" %>
    </div>
  <% end %>
</div>
