<div id="personal-data">
  <%= gravatar_tag @user.email, size: 160 %>
  <h3><%= @user.display_name %></h3>
  <div>Birth date: <%= @user.birth_date.present? ? @user.birth_date.strftime("%e %b, %Y") : "N/A" %></div>
  <div>Gender: <%= @user.gender? ? @user.gender : "N/A" %></div>
  <div>Biography: <%= @user.biography? ? @user.biography : "N/A" %></div>
</div>

<% if current_user == @user %>
  <%= link_to "Edit", edit_profile_path(@user) %>
<% end %>
