<div id="clearance" class="panel">
  <div class="box p-5 mb-3">
    <h2 class="center-align">Log in to Playmate</h2>
    <% flash.each do |key, value| %>
      <div class="flash <%= key %> center-align bold mb-3 p-2"><%= value %></div>
    <% end %>

    <%= render partial: "/sessions/form" %>
  </div>

  <div class="f5 center-align mb-3">
    <%= link_to "Forgot your password?", new_password_path, class: "link" %>
  </div>

  <% if Clearance.configuration.allow_sign_up? %>
    <div class="f5 center-align">
      Need an account?
      <%= link_to t(".sign_up"), sign_up_path, class: "link" %>
    </div>
  <% end %>
</div>

