<% if !@posts.exists? && @search_params.empty? %>
  <%= render partial: "posts/empty_state" %>
<% else %>
  <div class="d-flex flex-justify-between flex-align-center">
    <h1>Posts</h1>

    <%= render partial: "posts/search_form",
      locals: {
        url: search_posts_path,
        fields: %w[game_type date_range query],
        search_params: @search_params
      }
    %>
  </div>

  <div id="posts_list">
    <% if @posts.exists? %>
      <%= render @posts %>
      <%= paginate @posts %>
    <% else %>
      <%= render partial: "posts/no_results_found" %>
    <% end %>
  </div>
<% end %>
