<div class="form-field">
  <%= form.label :game, class: "label" %>
  <%= form.text_field :game, class: "text-input" %>
</div>

<div class="form-field">
  <%= form.label :game_type, class: "label" %>
  <%= form.select :game_type, Post.game_types.to_a, {}, { class: "text-input" } %>
</div>

<div class="form-field">
  <%= form.label :city, class: "label" %>
  <%= form.text_field :city, class: "text-input" %>
</div>

<div class="form-field">
  <%= form.label :date, class: "label" %>
  <%= form.date_field :date, class: "text-input" %>
</div>

<div class="form-field">
  <%= form.label :players_needed, class: "label" %>
  <%= form.text_field :players_needed, class: "text-input" %>
</div>

<div class="form-field">
  <%= form.label :skill_level, class: "label" %>
  <%= form.select :skill_level, Post.skill_levels.to_a, { include_blank: true }, { class: "text-input" } %>
</div>

<div class="form-field">
  <%= form.label :description, class: "label" %>
  <%= form.text_area :description, class: "text-input", rows: 4 %>
</div>
