<div id="<%= "post-#{post.id}" %>" class="box p-3 mb-4" data-test="<%= "post-#{post.id}" %>">
  <% cache ["post-body", post] do %>
    <%= render partial: "posts/post_body", locals: { post: post } %>
  <% end %>

  <hr class="thin">

  <div class="d-flex flex-align-center">
    <% if current_page?(root_path) || current_page?(posts_path) %>
      <%= link_to "Open", post_path(post), class: "f4 bold mr-3" %>
    <% end %>

    <% if post.belongs_to?(current_user) %>
      <%= link_to "Edit", edit_post_path(post), class: "f4 bold mr-3" %>

      <%= form_for post do |form| %>
        <%= form.hidden_field :archived, value: !post.archived? %>
        <% if post.archived? %>
          <%= form.submit "Restore", class: "link-button" %>
        <% else %>
          <%= form.submit "Archive", class: "link-button" %>
        <% end %>
      <% end %>
    <% end %>

    <% if !post.belongs_to?(current_user) %>
      <% join_request = post.join_requests.find_by(user: current_user) %>
      <% if join_request.present? %>
        <%= form_tag post_join_request_path(post, join_request), method: :delete, remote: true do %>
          <%= submit_tag "✓ Interested", class: "link-button", data: { test: "remove_join_request_btn" } %>
        <% end %>
      <% else %>
        <%= form_tag post_join_requests_path(post), remote: true do %>
          <%= submit_tag "Interested", class: "link-button", data: { test: "add_join_request_btn" } %>
        <% end %>
      <% end %>
    <% end %>

  </div>
</div>
