<div>
  <div><%= "#{post.user.first_name} #{post.user.last_name}" %></div>
  <div><%= post.description %></div>
  <div>City: <%= post.city %></div>
  <div>Date: <%= post.date %></div>
  <div>Skill level: <%= post.skill_level %></div>
</div>
