<div class="d-flex flex-align-center flex-justify-between mb-2">
  <div class="d-flex flex-align-center">
    <div class="mr-2">
      <%= render partial: "users/user_avatar", locals: { user: post.user } %>
    </div>
    <div class="d-flex flex-column left-padding">
      <%= link_to post.user.name, profile_path(post.user), data: { test: "post_owner" }, class: "f4 bold" %>
      <span class="f6 gray">
        <%= time_ago_in_words(post.created_at) %> ago
      </span>
    </div>
  </div>

  <% if post.players_found? %>
    <span class="badge">Players found</span>
  <% end %>
</div>

<div class="d-flex f5 mb-3">
  <div class="d-flex flex-align-center mr-3">
    <%= embedded_svg "svg/die.svg", class: "mr-2" %>
    <span data-test="post_game"><%= post.game %></span>
  </div>
  <div class="d-flex flex-align-center mr-3">
    <%= embedded_svg "svg/place.svg", class: "mr-2" %>
    <span data-test="post_city"><%= post.city %></span>
  </div>
  <div class="d-flex flex-align-center mr-3">
    <%= embedded_svg "svg/calendar.svg", class: "mr-2" %>
    <span data-test="post_date"><%= post.date.strftime("%-e.%-m.%y") %></span>
  </div>
  <div class="d-flex flex-align-center mr-3">
    <%= embedded_svg "svg/person.svg", class: "mr-2" %>
    <span data-test="post_players_needed"><%= post.players_missing %></span>
  </div>
  <% if post.skill_level.present? %>
    <div class="d-flex flex-align-center mr-3">
      <%= embedded_svg "svg/weight.svg", class: "mr-2" %>
      <span data-test="post_skill_level"><%= post.skill_level %></span>
    </div>
  <% end %>
</div>

<div class="mb-3 f4" data-test="post_description">
  <%= post.description %>
</div>
