<div id="<%= "post-#{post.id}" %>" class="post">
  <div class="owner-details">
    <%= post.user.display_name %>
    <div>
      <%= time_ago_in_words(post.created_at) %>
      ago
    </div>
  </div>
  <div class="description"><%= post.description %></div>
  <div class="details">
    <div class="details-field">City: <%= post.city %></div>
    <div class="details-field">Date: <%= post.date.strftime("%a, %e %b, %Y") %></div>
    <% if post.skill_level.present? %>
      <div class="details-field">Skill level: <%= post.skill_level %></div>
    <% end %>
  </div>
  <div class="actions">
    <% if post.belongs_to?(current_user) %>
      <%= link_to "Edit", edit_post_path(post) %>
    <% end %>

    <% if !post.belongs_to?(current_user) && !current_user.interesting_posts.include?(post)  %>
      <%= form_tag interesting_posts_path, remote: true do %>
        <%= hidden_field :data, :post_id, value: post.id %>
        <%= submit_tag "Interested" %>
      <% end %>
    <% elsif current_user.interesting_posts.include?(post)  %>
      <div>✓ Interested</div>
    <% end %>
  </div>
</div>
