<div class="post-form">
  <% @post.errors.full_messages.each do |error| %>
    <div><%= error %></div>
  <% end %>

  <%= form_for @post do |form| %>
    <%= render partial: "form", object: form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>
  <% end %>
</div>

<%= form_for @post do |form| %>
  <%= form.hidden_field :archived, value: !@post.archived? %>
  <%= form.submit @post.archived? ? "Restore" : "Archive" %>
<% end %>
