<nav class="nav">
  <div class="nav-app-name">Playmate</div>
  <div class="nav-main-actions">
    <%= link_to "Home", root_path, class: "nav-link" %>
    <%= link_to "New post", new_post_path, class: "nav-link" %>
    <%= link_to "My posts", posts_path, class: "nav-link" %>

    <span class="position-relative d-flex flex-align-center">
      <%= link_to "Notifications", notifications_path, remote: true, onclick: "showNotificationsPopup()", class: "nav-link" %>

      <div id="notification-indicator" data-test="notification_indicator" class="notification-indicator f7 bold <%= current_user.notifications.unseen.count == 0 ? "d-none" : nil %>">
        <%= current_user.notifications.unseen.count %>
      </div>

      <div id="notifications-popup-overlay" class="overlay d-none" onclick="hideNotificationsPopup()"></div>

      <div id="notifications-popup" class="popup-wrapper d-none">
        <div class="popup p-3">
          <div id="notifications" data-test="notification_list" class="notifications"></div>
        </div>
      </div>
    </span>

    <%= link_to "Profile", profile_path(current_user), class: "nav-link" %>
    <%= link_to "Sign out", sign_out_path, method: :delete, class: "nav-link" %>
  </div>
  <%= render partial: "users/user_avatar", locals: { user: current_user } %>
</nav>
