<nav class="nav">
  <div class="nav-app-name nav-left">Playmate</div>

  <div class="nav-main-actions">
    <%= link_to "Home", root_path, class: "nav-link" %>
    <%= link_to "New post", new_post_path, class: "nav-link" %>
    <%= link_to "My posts", posts_path, class: "nav-link" %>

    <span class="position-relative d-flex flex-align-center" data-popover="notifications-popover">
      <span class="nav-link" onclick="markNotificationsAsRead()" data-test="notifications_btn">Notifications</span>

      <div id="notification-indicator"
           data-test="notification_indicator"
           class="notification-indicator f7 bold <%= current_user.notifications.unseen.size == 0 ? "d-none" : nil %>"
           >
           <%= current_user.notifications.unseen.size %>
      </div>
    </span>
  </div>

  <div class="p-3" data-popover-id="notifications-popover">
    <div id="notification-list" data-test="notification_list" class="notification-list">
      <%= render "notifications/notifications", notifications: current_user_notifications %>
    </div>
  </div>

  <div class="nav-right">
    <div class="pointer" data-popover="user-actions-popover">
      <%= render partial: "users/user_avatar", locals: { user: current_user } %>
    </div>
  </div>

  <div data-popover-id="user-actions-popover" class="user-actions-popover d-flex flex-column p-3" data-popover-align="right">
    <%= link_to "Profile", profile_path(current_user), class: "f5 mb-2" %>
    <%= link_to "Log out", sign_out_path, method: :delete, class: "f5" %>
  </div>
</nav>
