<!DOCTYPE html>
<html>
  <head>
    <title>Playmate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
    <script>
      currentUser = <%= json_escape({ id: current_user.id }.to_json.html_safe)  %>
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google[:api_key] %>&libraries=places" defer></script>
  </head>

  <body>
    <%= render partial: "layouts/nav", locals: { user: current_user } %>
    <div class="content">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %> center-align bold p-2 mb-3"><%= value %></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
